<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon"> -->
  <link rel="shortcut icon" type="image/png" href="/img/logo.png">
  <meta name="description" content="">
  <title>About Pham Thanh Tung</title>
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <!-- <link rel="stylesheet" href="/assets/socicon/css/styles.css"> -->
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
          
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
    
           
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script>
    
    $(document).ready(function($) {
        $('.statistic-counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
  </script>
  <!-- <script>
    window.fbAsyncInit = function() {
        FB.init({
        appId            : '467312924106793',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v2.12'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->

<link href="/stylesheets/main.css" rel="stylesheet">

<link href="/stylesheets/scroll.css" rel="stylesheet">

</head>
<body>

<section id="menu2-0" data-rv-view="487"> 
        
    <nav class="navbar navbar-expand-lg beta-menu navbar-dropdown align-items-center navbar-light bg-white navbar-fixed-top navbar-toggleable-sm scrolling-navbar">
        <div class="container">
            <div class="menu-logo">
                <a class="navbar-brand mb-auto h1" href="https://www.facebook.com/ReasonForFuture">
                    <b>PHAM THANH TUNG</b>
                </a>
            </div>

            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
                <span class="navbar-toggler-icon"></span>
                <!-- <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div> -->
            </button>

            <div class="navbar-collapse collapse" id="navbar9">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link link text-black display-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true" href="#">Action</a> -->
                            <a class="dropdown-item" href="#content-1">Career goals</a>
                            <a class="dropdown-item" href="#content-2">Education</a>
                            <a class="dropdown-item" href="#content-3">Work experience</a>
                            <a class="dropdown-item" href="#content-4">Skills</a>
                            <a class="dropdown-item" href="#content-5">Persional Projects</a>
                            <!-- <a class="dropdown-item" href="#content-6">External activity</a> -->
                                                        
                            <div class="dropdown-divider">
                                
                            </div>
                            <a class="dropdown-item" href="#content-7">Other information</a>
                            <!-- <a class="dropdown-item" href="#">Languages</a>
                            <a class="dropdown-item" href="#">Soft skill</a>
                            <a class="dropdown-item" href="#">Hobbies</a>
                            <a class="dropdown-item" href="#">Pros and cons</a> -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="https://www.facebook.com/ReasonForFuture">
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="https://www.facebook.com/vn.thanhtung118">
                            About Me
                        </a>
                    </li></ul>
                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-secondary display-4" href="#">
                        
                        +84 96 156 1701
                    </a></div>
                </ul>
            </div>

        </div>
    </nav>
</section>
        
<section class="mbr-section content4 cid-qweRiicS6I" id="content4-2" data-rv-view="489">
        
    <div class="container ">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">
                    MY PROFILE!</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="cid-qweRjbQerA" id="image1-3" data-rv-view="491">

    

    <figure class="mbr-figure container">
            <div class="image-block" style="width: 66%;">
                <img src="/img/person.jpg" class="inline-photo show-on-scroll" width="1400" alt="image" title="" media-simple="true">
                
            </div>
    </figure>
</section>

<section class="mbr-section article content1 cid-qweRvYHJD8" id="content1-4" data-rv-view="493">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                Hello, my name is <strong>Pham Thanh Tung</strong><br>
                ! If you in search of an <strong>Web Developer</strong> or a <strong>Software Engineer</strong>,
                I can help you! Check my works on this page, or contact me.
            </div><br>

            <!-- <div class="fb-customerchat"
                page_id="110382740314004"
                theme_color="#0084ff"
            >
            </div> -->

        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRAui5pI" id="content1-6" data-rv-view="494">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="text-center mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <strong>Great success always starts with small jobs.</strong><br>
                 That's my life's motto, always resolving every problem in my life.
            </div><br><br><br><br><br>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qweYwzdMWC" id="content-1" data-rv-view="502">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll " >
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">CAREER OBJECTIVE</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="text-center mbr-text col-12 col-md-8 mbr-fonts-style display-7">

                <p>Looking for a professional working environment that can be attached for a long time and develop yourself.</p>
                <p>Improving professional knowledge, work skills by <strong>Computer Science</strong>.</p>
                <p>Accumulatting real work experience</p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qweYwzdMWC" id="content-2" data-rv-view="502">
 

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">MY EDUCATION</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <div style="float: right;">
                        <strong>2016 - present</strong>
                </div>
                
                <br><br>
                <p>Students at <b>The Faculty of Mathematics and Informatics, University of Science, National University of Ho Chi Minh City</b>.</p>
                <p><strong>My major</strong> is Computer Science.</p>
                <p><b>Coursework: </b></b>Data Structures & Algorithms, Information System Analysis and Design, Object-oriented Software development methodology, Java Programming Language, ...</p>

            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qweYwzdMWC" id="content-3" data-rv-view="502">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">WORK EXPERIENCE</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <div>
                    <div class="text-center">
                            Working at <strong>LUCKY TELECOM JSC</strong>
                            <div style="float:right">
                                    <strong>4/2019 - 8/2019</strong>
                            </div>
                            
                    </div>
                </div>
                <p></strong>
                    </p>

                <p><li>Participated in building a medical queue system using <b>Nodejs</b>. (Back-End)</li></p>
                <p><li>Designed Hybrid Apps with <b>Flutter</b> for The examination queuing system.</li></p>
                <p><li>Learned <b>Vuejs</b> to help to maintain The examination queuing system.</li></p>
            </div>
        </div>
    </div>
</section>
    


<section class="mbr-section content4 cid-qweSxLMTHM" id="content-4" data-rv-view="495">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">MY SKILLS</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content12 cid-qweRCEOYwi" data-rv-view="497">
    <div class="container">
        <div class="row count text-center">
            <div class="col-sm-3 col-xs-6 myskill-feature ">
                
                
                <p style="padding-top: 1em;"><img src="/img/c++.png" width="40" height="40"></p>
                
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">70</span>%
                </h2>
               
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <p style="padding-top: 1em;"><img src="/img/Csharp_Logo.png" width="40" height="40"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">60</span>%
                </h2>
                
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                
                <p style="padding-top: 1em;"><img src="/img/java-icon-png-2.jpg" width="20%" height="20%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">70</span>%
                </h2>
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <!-- <p>Java/Javascript</p> -->
                <p style="padding-top: 1em;"><img src="/img/2-2-java-png-picture.png" width="30%" height="30%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">60</span>%
                </h2>
                <!-- <p>Java/Javascript</p> -->
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <!-- <p>Illustration</p> -->
                <p style="padding-top: 1em;"><img src="/img/python.jpg" width="20%" height="20%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">50</span>%
                </h2>
            </div>
            
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <!-- <p>Bootstrap</p> -->
                <p style="padding-top: 1em;"><img src="/img/bootstrap-la-gi.png" width="30%" height="30%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">70</span>%
                </h2>
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <!-- <p>Illustration</p> -->
                <p style="padding-top: 1em;"><img src="/img/ASP-NET-Core-Logo-1.png" width="40%" height="40%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">70</span>%
                </h2>
            </div>
            <div class="col-sm-3 col-xs-6 myskill-feature">
                
                <p style="padding-top: 1em;"><img src="/img/nodejs-new-pantone-black.png" width="30%" height="30%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">60</span>%
                </h2>
            </div>
            
            <div class="col-sm-3 col-xs-6 myskill-feature">
                <!-- <p>Illustration</p> -->
                <p style="padding-top: 1em;"><img src="/img/Adobe_Illustrator_CC_Creative_Cloud-512.png" width="20%" height="20%"></p>
                <h2 style="color: rgb(184, 12, 126);">
                    <span class="statistic-counter">40</span>%
                </h2>
            </div>
        </div>
    </div>
</section>
<!--/#features-->

<section class="cid-qweSTPaVJI" id="image1-b" data-rv-view="498">

    

    <figure class="mbr-figure container">
            <div class="img-item image-block" style="width: 70%;">
                <img src="/img/IMG_3592.JPG" class="inline-photo show-on-scroll" width="1400" alt="Mobirise" title="" media-simple="true">
                
            </div>
    </figure>
</section>

<section class="cid-qweSOmDZTu" id="content13-a" data-rv-view="500">
    
    <div class="container">
            <div class="media-container-row" style="width: 66%;">
                <div class="img-item item1" style="width: 117%;">
                    <img src="/img/IMG_3587.jpg" class="inline-photo show-on-scroll" alt="" title="" media-simple="true">
                    
                </div>
                <div class="img-item">
                    <img src="/img/IMG_3792.jpg" class="inline-photo show-on-scroll" alt="" title="" media-simple="true">
                    
                </div>
            </div>
    </div>
</section>

<section class="mbr-section content4 cid-qweYwzdMWC" id="content-5" data-rv-view="502">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">PERSONAL PROJECTS</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <div>
                    <div style="float: right;;"><b>Full-stack Developer</b></div>
                    <div style="float: left;"><b>Shopping Cart</b></div>
                </div>
                <div>
                    <br>
                    <li><b>Github:</b><a href="https://github.com/thanhtungkhtn/shopping_servlet" target="_blank">&nbsp;&nbsp;Link</a></li>
                    <li><b>Descriptions:</b> Basic web app for selling books.</li>
                    <li><b>Tech stack:</b> Java Servlet</li>
                </div>
                <br><br>
                <div>
                    <div style="float: right;;"><b>Full-stack Developer</b></div>
                    <div style="float: left;"><b>Human Resources Salary Management App</b></div>
                </div>
                <div>
                    <br>
                    <li><b>Github:</b><a href="https://github.com/thanhtungkhtn/hrsm_app" target="_blank">&nbsp;&nbsp;Link</a></li>
                    <li><b>Descriptions:</b> Basic human resource and salary management system with computer vision application.</li>
                    <li><b>Tech stack:</b> javascript (Nodejs), Vuejs, Python</li>
                </div>
                <br>   
            </div>
        </div>
    </div>
</section>

<!-- <section class="mbr-section content4 cid-qweYwzdMWC" id="content-6" data-rv-view="502">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">EXTERNAL ACTIVITY</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-8 mbr-fonts-style display-7">
                <strong>2016 - 2020:</strong><br>
                <p style="text-indent: 110px;">Students at the Faculty of Mathematics and Informatics, University of Science, National University of Ho Chi Minh City. My major is Computer Science</p>
                        
            </div>
        </div>
    </div>
</section> -->
        
<section class="mbr-section content4 cid-qweYwzdMWC" id="content-7" data-rv-view="502">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8 test show-on-scroll">
                <h2 class="align-center pb-3 mbr-fonts-style display-2 testing">OTHER INFORMATION</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qweRzrMzEt" id="content1-5" data-rv-view="504">
    
        

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text ">
                <div>
                    <div class="row">
                        <div class="column">
                            <div class="text-center">
                                <b>Advantages of myself</b>
                            </div>
                            <br>
                            <li>Teamwork skills</li>
                            <li>Manage your time</li>
                            <li>Working under pressure</li>
                            <li>Handing over to the public</li>
                            <li><b>Language: English - Target: Take IELTS 6.5.</b> </li>
                            
                        </div>
                        <div class="column">
                            <div class="text-center">
                                <b>Defect of myself</b>
                            </div>
                            <br>
                            <li>Perfectionist at work</li>
                            <li>No real working experience</li>
                            <li>Knowledge of professional knowledge is still limited.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cid-qweTNrP7pz" id="footer2-g" data-rv-view="505">

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text"><strong>Address</strong><br>
                    <br>
                    <br>Phú Xuyên, Hà Nội
                    <br>
                    <br>
                    <br><strong>Contacts</strong>
                    <br>
                    <br>[E]: thanhtung.fqs@gmail.com
                    <br>[P]: +84 96 156 1701
                    
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong>Links</strong>
                    <br>
                    <br>
                    <a class="text-secondary" href="https://www.hcmus.edu.vn">
                        Works
                    </a>
                    <br>
                    <a href="https://www.facebook.com/ReasonForFuture" class="text-secondary">                        
                        <i class="fa fa-facebook-square fa-1x"></i> Facebook
                    </a>
                    <br>
                    <a href="#" class="text-secondary">
                        <i class="fa fa-youtube-square fa-1x"></i> Youtube 
                    </a>
                    <br>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1865.1178228177814!2d105.82857235790225!3d20.781752504236103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDQ2JzU0LjMiTiAxMDXCsDQ5JzQ2LjgiRQ!5e0!3m2!1svi!2s!4v1566411147111!5m2!1svi!2s" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        &copy; 2019 Pham Thanh Tung
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <!-- <div class="soc-item">
                            <a href="#" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(46, 46, 46);" media-simple="true"></span>
                            </a>
                        </div> -->
                        <div class="">
                            <a href="http://www.facebook.com/ReasonForFuture" target="_blank">
                                <i class="fa fa-facebook-f fa-2x" style="color: rgb(46, 46, 46);" media-simple="true"></i>
                                <!-- <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(46, 46, 46);" media-simple="true"></span> -->
                            </a>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/script.min.js"></script>
  <script src="/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/theme/js/script.js"></script>

  <script src="/js/show-on-scroll.js"></script>
  
</body>
</html>