<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reasons For Future Website</title>

    <!-- attach our stylesheet -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <!-- the header -->
    <header>

        <!-- our main logo -->
        <a id="logo" href="www.facebook.com/vn.thanhtung118">
            <img src="../public/img/DSC_4769 copy.jpg" alt="Logo">
            <span>My Website</span>
        </a>

        <!-- main navigation links -->
        <nav>
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </nav>

    </header>

    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">Here is Title</h1>
                <p>Great successes always start from small jobs.</p>

                <a href="#">Learn More</a>
                <a href="#">Sign Up</a>
            </div>
        </div>

        <!-- features section -->
        <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Key Features</h2>
            </div>

            <div class="feature-box">
                <img src="../public/img/like.png" alt="Easy to Use">
                <h5>Easy to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="../public/img/faces.png" alt="Fun to Use">
                <h5>Fun to Use</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

            <div class="feature-box">
                <img src="../public/img/heart.png" alt="Fun to Use">
                <h5>You'll Love It</h5>
                <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
            </div>

        </div>
        </div>

        <!-- testimonials section -->
        <div class="site-section site-section-secondary">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>What the people say</h2>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="../public/img/person-male.png" alt="David East">
                    <h5>Thanh Tung</h5>
                    <span>HCMUS</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="../public/img/person-male.png" alt="Holly Lloyd">
                    <h5>Thanh Tung</h5>
                    <span>HCMUS</span>
                </div>
            </div>

            <div class="testimonial-box">
                <div class="testimonial-content">
                    Their service is by far the most influential I've ever seen.
                </div>
                <div class="testimonial-author">
                    <img src="../public/img/person-male.png" alt="Brad Green">
                    <h5>Thanh Tung</h5>
                    <span>HCMUS</span>
                </div>
            </div>

        </div>
        </div>

    </main>

    <!-- the footer -->
    <footer>
        <img src="../public/img/DSC_4769 copy.jpg" alt="Footer Logo">
        <span>My Website<br>Copyright &copy; 2019 </span>
    </footer>

</body>
</html>
