 resetting browser stuff
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF; 
  text-decoration: none;
  /* width: 49%; */
}
#logo img    {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
} 

/* main navigation */
.nav-link {
  color: white !important;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s ease all;
}
nav div ul li a:hover   {
  background: #90caf9;
} 
.top-nav-collapse {
  background-color: #424f95 !important;
}
.navbar:not(.top-nav-collapse) {
  background: rgba(197, 239, 247, 0.5) !important;
}

/* styling our footer */
footer   {
  background: #222;
  color: #777;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

/* styling our main content */
.hero           {
  min-height: 900px;
  text-align: center;
  background-image: url('../img/Untitled-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-content   {
  color: #FFF;
  padding-top: 150px;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
}
.hero-content p    {
  padding-top: 150px;
  font-size: 50px;
}
.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
.hero-content a:hover{
  color: teal;
  text-decoration: none;
}

/* basic site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 100%;
  margin: auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
}

/* feature boxes */
.feature-box   {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}

@media screen and (max-width: 480px) and (min-width: 320px){
  .hero {
    text-align: center;
    max-height: 900px;
    max-width: 480px;
    background-image: url('../img/Untitled-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
  }
  .hero-content   {
    color: #FFF;
    padding-top: 250px;
  }
  .hero-content h1   {
    font-size: 30px;
    margin: 0;
  }
  .hero-content p    {
    padding-top: 50px;
    font-size: 18px;
  }
  .hero-content a    {
    display: inline-block;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
  }
  .hero-content a:hover{
    color: teal;
    text-decoration: none;
  }

  /* basic site sections */
  .site-section   {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .site-section-secondary   {
    background: #EFEFEF;
  }
  .site-section-inside   {
    width: 100%;
    margin: 0 auto;
  }
  .section-header {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-header h2  {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    color: #777;
  }

  /* feature boxes */
  .feature-box   {
    display: inline-block;  
  }
  .feature-box img  {
    margin-bottom: 12px;
    width: 80px;
  }
  .feature-box h5   {
    font-size: 20px;
    color: #999;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
  }
} 

/* testimonial boxes */
.testimonial-box   {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
}
.testimonial-content   {
  background: #FFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.testimonial-author {
  
}
.testimonial-author img {
  float: left;
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}
.testimonial-author h5   {
  font-size: 18px;
  margin: 0;
  padding-top:15px;
}
.testimonial-author span {
  font-size: 14px;
} 
